.nav-link:hover {
    color: "F4C8C5";
}

@font-face {
    font-family: "baloo";
    src: url(/fonts/BalooChettan2-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "cursive";
    src: url(/fonts/MrDafoe-Regular.ttf) format("truetype");
}


.button-container{
    margin-top: 300px; 
    margin-bottom: 300px;
    flex-basis: 100%; 
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button-container > div{
    position: relative; 
    text-align: center;
}

.button-text{
    cursor: pointer; 
    position: absolute; 
    top: 30%; 
    font-family: DM Serif Display; 
    font-size: 36px;
}


.help{
    font-size: 40px;
}