<footer class="d-flex flex-wrap justify-content-between align-items-center"
style="background-color: #ffcbc4;height: 100px;">
<div class="col-md-4 d-flex align-items-center">
  <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
    <svg class="bi" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>
  <span class="mb-3 mb-md-0 text-muted">© Project Save our Skin, 2024</span>
</div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
  <span style="font-family: Marmelad; padding-top: 15px; padding-right: 5px;">projectsaveourskin@gmail.com</span>
  <a href="https://www.instagram.com/projectsaveourskin/?next=%2Fsophiaxxia%2F" target="_blank"><img src="insta.svg"
      style="height: 55px;margin-right: 15px;"></a>
  <a href="https://www.tiktok.com/@projectsaveourskin?_t=8XF7iTY6Ozr%_r=1" target="_blank"><img src="tiktok.svg"
      style="height: 40px; margin-top: 6px;margin-right: 15px;"></a>
</ul>
</footer>
</body>

</html>