<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Save Our Skin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="icon" href="icons/psos_logo.ico">
<link rel="stylesheet" href="/css/styles.css">
<link rel="apple-touch-icon" href="/icons/psos_logo.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Jaldi&family=Marmelad&family=Signika+Negative&family=DM+Serif+Display&display=swap" rel="stylesheet">


<body>
  <nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary" style="background-color: #ffcbc4;"
    data-bs-theme="navbar-light">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a class="navbar-brand" href="/">
          <img src="/icons/psos_logo.png" style=" height:100px; margin-right: 3%;">
        </a>
        <a class="navbar-brand" href="/">
          <span style="font-family: Baloo Chettan 2, serif; font-size: 30px;">project Save our Skin</span>
        </a> 
      </div>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" class="link-dark" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link-dark" href="/aboutus">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link-dark" aria-current="page" href="/events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link-dark" href="/getinvolved">GET INVOLVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link-dark" href="/blog">BLOG</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>