# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
bower_components/
jspm_packages/

# Build output
dist/
build/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db