<%-include('partials/header')%>
  <div style="background-color: #fcebf8; padding-bottom: 30px;" >
    <p style="font-family: Jaldi; font-size: 50px; text-align: center;">ABOUT US</p>
    <p style="font-family: Marmelad;  text-align: center; margin: 0 25px 0 25px; font-size: 25px">
      Founded in 2022 by Sophia Xia in Deerfield, IL, Project Save Our Skin (PSOS) has grown into a
       nationwide charity with a mission to improve skin health and awareness. Our organization is 
       dedicated to two primary objectives: providing essential skincare products to marginalized 
       communities and educating the public about skin health. Shockingly, 20% of Americans will 
       face skin cancer in their lifetime, a statistic we are committed to reducing.

      <br><br>Over the past two years, PSOS has partnered with numerous institutions to organize city-wide
       skincare product donation drives and skin cancer education workshops. Collaborating with schools,
        fitness centers, corporations, and more, we have donated over 1000 products to homeless 
        shelters, women’s shelters, children’s shelters, and other community organizations. 
        Additionally, we have introduced skin cancer education resources into schools and host 
        fundraising events and pop-ups to promote healthy skin practices.

      <br><br>Since 2022, PSOS has expanded to include over 15 dedicated members across the United States. 
      We invite you to join our growing community and contribute to our mission of ensuring everyone 
      has access to resources for healthier skin.
    </p>
  </div>

  <div class="aboutus"
    style="z-index:-1;background-color: #fcebf8; background-size: cover;margin-bottom: 5px; padding-bottom:20px; background-repeat: no-repeat;display: flex; justify-content: center;flex-wrap: wrap;">
    <p style="font-family: Jaldi; font-size: 52px;margin-top: 10px;">EXEC BOARD</p>
    <div style="display: flex; align-items: center;">
      <img src="files/profiles/soph_ph.png" style="margin: 0 25px 0 25px;width: 200px; height: 200px; border-radius: 50%;">
      <span style="width: fit-content; float: right;margin-right: 30px; text-align: center;font-family: Jaldi;font-size: 25px;">Hi there! My name is Sophia
        and I am the founder of Project Save our Skin.
        Our organization is located in Chicago, IL and we aim to donate skincare to those in need.
        Years ago, I started my skincare journey and learned how important skincare is for both
        health and confidence. Over time, I accumulated tons of skincare products, some of which
        I barely used. After talking to many peers, I learned that I was not the only one who
        had unused skincare at home. In fact, many people said they had made impulsive skincare
        purchases during quarantine, bought one too many travel sized products for their
        vacations, or even went through their own skincare journeys. Therefore, I started
        Project Save our Skin in order to put the extra products to good use and promote
        the ideas of healthy skin.
      </span>
    </div>

    <div style="display: flex; align-items: center; margin-top: 15px;">
      <span style="width: fit-content; float: right;margin-left: 35px; text-align: center; font-size: 25px;margin-right: 10px;font-family: Jaldi;">
        Erika Ilkiu is an exec board member at Project Save Our Skin. She is a committed swimmer who enjoys painting and drawing. She is is very excited 
        about the idea continuing to swim competitively in college!
      </span>
      <img src="files/profiles/erika_ph.png" style="margin: 0 35px 0 25px;width: 200px; height: 200px; border-radius: 50%;">

    </div>

    <div style="display: flex; align-items: center ;padding-bottom: 20px;">
      <img src="files/profiles/jess_ph.jpeg" style="margin: 0 25px 0 25px;width: 200px; height: 200px; border-radius: 50%;">
      <span style="width: fit-content; float: right;margin-right: 15px; text-align: center; font-size: 25px; font-family: Jaldi;">
        Jessica Ji is an exec board member at Project Save Our Skin. She plays the cello and loves to dance. She would love
         to continue her journey of dance in college if possible!

      </span>
    </div>

    <!-- <div style="display: flex; align-items: center; margin-top: 15px;">
      <span style="width: fit-content; float: right;margin-left: 35px; text-align: center; font-size: 25px;margin-right: 10px;font-family: Jaldi;">
        Lucy Yu is a junior from New Jersey. She is incredibly mathematically talented, and calculates all the statistics at Project Save our Skin. Lucy has a cat named Atlas whom she loves with her whole heart. In addition, Lucy's favorite food is sushi. 
      </span>
      <img src="files/profiles/lucy.png" style="margin: 0 35px 0 25px;width: 200px; height: 200px; border-radius: 50%;">
  
    </div> -->

    <div style="display: flex; align-items: center; margin-top: 15px;">
      <!-- <img src="files/profiles/sarah_pic.png" style="margin: 0 35px 0 25px;width: 200px; height: 200px; border-radius: 50%;"> -->

      <span style="width: fit-content; float: right;margin-left: 35px; text-align: center; font-size: 25px;margin-right: 10px;font-family: Jaldi;">
        Sarah Wang is a donation counter at Project Save Our Skin. She is a swimmer who spends free time with family and baking. She is is very excited to help Project Save Our Skin grow and reach more people in need!
      </span>
      <img src="files/profiles/sarah_pic.png" style="margin: 0 35px 0 25px;width: 200px; height: 200px; border-radius: 50%;">
  
    </div>

    <!-- <div style="display: flex; align-items: center; margin-top: 15px;">
      <span style="width: fit-content; float: right;margin-left: 35px; text-align: center; font-size: 25px;margin-right: 10px;font-family: Jaldi;">
        Isabella Wilhelm is in charge of PR relations. Her interests include swimming, cooking, hanging out with friends and family, and walking her dog!
      </span>
      <img src="files/profiles/isabella_pic.png" style="margin: 0 35px 0 25px;width: 200px; height: 200px; border-radius: 50%;">
    </div> -->
  </div>
<%-include('partials/footer')%>