<%-include('partials/header')%>

  <div class="aboutus"
    style="z-index:-1;background-color: #fcebf8; background-size: cover;margin-bottom: 5px; padding-bottom:20px; background-repeat: no-repeat;display: flex; justify-content: center; flex-direction: column;">
    <p style="font-family: Jaldi; font-size: 52px; margin-top: 10px;">Blog</p>
    <a class="nav-link active" class="link-dark" aria-current="page" href="blog1.html">
        <div style="display: flex; align-items: center; height: 100px; width:900px; font-size: 50">
          Viral Skincare Trends (and if you should actually be participating)
        </div>
    </a>
    <a class="nav-link active" class="link-dark" aria-current="page" href="blog2.html">
        <div style="display: flex; align-items: center; height: 100px; width:900px; font-size: 50">
          Deep Dive into Toners and Essences
        </div>
    </a>
  </div>
<%-include('partials/footer')%>