<%- include('partials/header') %>
  <div
    style="z-index:-1;background-image: url(files/background/home.png); opacity: 0.5; background-size: cover; background-repeat: no-repeat;display: flex; justify-content: center;flex-wrap: wrap;">
    
    <h1 id = "target">0</h1>
    <div
      class = "button-container" >
      <div>
        <a href="about-us.html">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 23%;">ABOUT US</div>
      </div>
      <div>
        <a href="events.html">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 30%;">EVENTS</div>
      </div>
      <div>
        <a href="getinvolved.html">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 12%;">GET INVOLVED</div>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>

<script type = "module" src="../index.js" type="module"></script>
<script type="text/javascript">
      start();
  </script>