<%- include('partials/header') %>
  <div
    style="z-index:-1;background-image: url(files/background/home.png); background-color: rgba(255,255,255,0.6); background-blend-mode: lighten; background-size: cover; background-repeat: no-repeat;display: flex; justify-content: center;flex-wrap: wrap;">
  
    <div class = "counter">
      1,103
      PRODUCTS COLLECTED
    </div>

    <div
      class = "button-container">
      <div>
        <a href="aboutus">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 20%;">ABOUT US</div>
      </div>
      <div>
        <a href="events">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 30%;">EVENTS</div>
      </div>
      <div>
        <a href="getinvolved">
          <img src="icons/button.png" style="width:300px;" >
        </a>
        <div class = "button-text" style = "left: 7%;">GET INVOLVED</div>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>

<!-- <script type="module">
  import {CountUp} from './js/countup.min.js';

  window.onload = function() {
    var countUp = new CountUp('target', 1103, {
      duration: 3
    }); // This number is probably not correct
    countUp.start();
  }
</script> -->