.nav-link:hover {
    color: "F4C8C5";
}

.button-container {
    margin-top: 50px;
    margin-bottom: 200px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button-container>div {
    position: relative;
    text-align: center;
}

.counter {
    font-size: 72px;
    margin-top: 75px;
    color: rgb(108, 3, 98);
    font-family: Jaldi;
    font-size: 84px;
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

.button-text {
    cursor: pointer;
    position: absolute;
    top: 30%;
    font-family: DM Serif Display;
    font-size: 36px;
    color: "ffffff";
}

#target {
    color: #b65a9c;
    font-size: 84px;
}


.help {
    font-size: 40px;
}

.event-text {
    width: fit-content;
    margin-left: 20px;
    float: right;
    margin-right: 15px;
    text-align: center;
    padding-bottom: 30px;
}