#root {
  min-width: 500px;
}

#header {
  background-color: #ffcbc4;
}

.nav-link:hover {
  color: "F4C8C5";
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}

.button-wrapper a {
  position: relative;
  display: inline-block;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-family: 'DM Serif Display', serif;
  cursor: pointer;
  pointer-events: none;
  color: black;
}

.counter {
  margin-top: 100px;
  flex-basis: 100%;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 36px;
}

#target {
  color: #b65a9c;
  font-size: 84px;
  font-weight: bold;
  margin-bottom: 10px;
}

.help {
  font-size: 40px;
}

.event-text {
  width: fit-content;
  margin-left: 20px;
  float: right;
  margin-right: 15px;
  text-align: center;
  padding-bottom: 30px;
}